<app-search></app-search>
<app-tag></app-tag>
<div class="home-container">
  <ul>
    <li *ngFor="let food of foods">

        <a routerLink="/food/{{food.id}}">
          <img [src]="food.imageUrl" [alt]="food.name"/>
        <div class="content">
          <div class="name">
           <span>{{ food.name }}</span>
           </div>

          <span class="favorite {{ food.favorite ? 'not' : '' }}">
            <i class="fa fa-solid fa-heart"></i>
            <!-- <i class="fa fa-heart-o fav" style="color:red;"></i> -->
          </span>

          <div class="rating">
            <star-rating
              [value]="food.stars"
              [totalstars]="5"
              uncheckedcolor="gray"
              checkedcolor="red"
              size="24px"
              [readonly]="false"
            >
            </star-rating>
          </div>

          <div class="content-footer">
            <div class="origin">
              <span *ngFor="let origin of food.origins">
                {{origin}}</span>
            </div>

            <div class="cookTime">
              <span>
                <i class="fa fa-clock-o"></i>
                {{food.cookTime}}
              </span>

            </div>
          </div>
          <div class="price">
            <span>{{food.price | currency}}</span>
          </div>
        </div>

      </a>
    </li>
  </ul>
</div>
